body
{
  color: #40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1
{
  color:  #66BFBF;
  font-size: 5.62em;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2
{
  color:  #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3
{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.top-container
{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container
{
  margin-top: 100px;
}
.intro
{
  width: 30%;
  margin: auto;
}
.bottom-container
{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

hr
{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
  /*border-style:none;
  border-top: dotted;
  border-color:#EAF6F6;
  border-width: 5px; */
  width: 4%;
}

p
{
  line-height: 2;
}

.profile-img
{
  height: 250px;
  width: 250px;
  position: relative;
  left: 30px;
}

.profile-skills
{
  width: 30%;
  float: left;
  margin-right: 30px;
  /*height: 250px;
  width: 250px;
  position: relative;
  left: 30px;*/
}

.skill-row
{
  width: 50%;
  margin:100px auto;
  text-align: left;
}

.skills-2
{
    width: 30%;
    float: left;
    margin-right: 30px;
    margin-top: 40px;
}

.top-cloud
{
  position: absolute;
  right:300px;
  top: 50px;
}

.bottom-cloud
{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.contact
{
  width: 40%;
  margin: auto;
}

a
{
  color:  #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover
{
  color: #EAF6F6;
}
.copyright
{
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0;
}

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8;
   -moz-border-radius: 8;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   /*font-weight: 100;*/
   padding: 10px 20px 10px 20px;
   /*-webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000; */
   /*border: solid #337FED 1px; */
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 60px 0px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
